* {
  /*border: 1px solid black;*/
  position: relative;
  display: inline-block;
}

.contactUsContainer {
  width: 700;
  height: 500;
}

.emailUsContainer {
  width: 70%;
  height: 100%;
}

.marginContainer {
  width: 6%;
  height: 100%;
}

.generalInfoContainer {
  width: 20%;
  height: 100%;
}

.generalInfoCell {
  width: 100%;
  height: 15%;
}

.generalInfoCellTitle {
  width: 100%;
  height: 49%;
  transform: translateY(50%);
  color: rgb(229,75,69);
}

.generalInfoCellContent {
  width: 100%;
  height: 49%;
}

.generalInfoSocialMedia {
  width: 100%;
  height: 30%;
}

.generalInfoRestSection {
  width: 100%;
  height: 25%;
}

.emailUsTitle {
  width: 100%;
  height: 10%;
  font-size: 30px;
  color: rgb(30,65,90);
}

.emailUsIntro {
  width: 100%;
  height: 25%;
}

.emailUsEmailSection {
  width: 100%;
  height: 50%;
}

.emailUsRestSection {
  width: 100%;
  height: 15%;
}

.emailUsEmailDiv1 {
  width: 100%;
  height: 35%;
}

.emailUsEmailDiv2 {
  width: 100%;
  height: 90%;
  /*position: relative;
  display: inline-block;*/
}

.emailUsMessageInput {
  width: 100%;
  height: 70%;
}

.emailUsMessageTitle {
  width: 100%;
  height: 19%;
  transform: translateY(30%);
}

.emailUsMessageContent {
  width: 100%;
  height: 79%;
}

.emailUsTextArea {
  width: 99%;
  height: 99%;
}

.emailUsSendButtonContainer {
  width: 100%;
  height: 20%;
  text-align: right;
}

.emailUsSendButton {
  z-index: 1;
  top: 10px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
  background-color: #e8554e;
  cursor: pointer;
  border-bottom: 5px solid #9a3834;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: none 125ms ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: none 125ms ease-out 0;
  -o-transition: none 125ms ease-out 0;
  transition: none 125ms ease-out 0;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  padding: 10px 55px;
}

.emailUsNameInput {
  width: 49%;
  height: 100%;
  /*position: relative;
  display: inline-block;*/
}

.div1InputTitle {
  width:100%;
  height: 49%;
  transform: translateY(55%);
}

.div1TextArea {
  width:100%;
  height: 49%;
}

.emailUsEmailInput {
  width: 49%;
  height: 100%;
  /*position: relative;
  display: inline-block;*/
}