a{
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #F5E6BA;
}

.navShopName a:link, .navShopName a:hover{
  font-size: 18px;
  color: #452806;
}

/* visited link */
.navListItem a:visited {
  color: #F5E6BA;
}

.navShopName a:visited {
  color: #452806;
}

/* mouse over link */
.navListItem a:hover {
  color: #452806;
  text-shadow: 1px 1px grey;
}

/* selected link */
.navListItem a:active {
  color: whitesmoke;
  text-shadow: 2px 2px grey;
}

.navBarContainer{
  position: fixed;
  width: 100%;
  text-align: left;
  font-size: 16px;
  z-index: 5;
  top: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #BC5B10;
}

.navBar{
  position: relative;
  width: 100%;
}

.navItem{
  position: relative;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}